body {
    font-family: 'VT323', monospace;
    margin: 0;
    padding: 0;

    width: 100%;
    height: 100vh;

    background: linear-gradient(rgba(141, 141, 172, .7) .1em, 
    transparent .1em), linear-gradient(90deg, rgba(141, 141, 172, .7) .1em,
    transparent .1em);

    background-size: 2em 2em;
}

h1, h2, h3, h4, h5, h6 {
    color: #ffffff;
    font-weight: normal;
    margin: 0;
    overflow: visible;
    padding-top: 0.5em;
    padding-bottom: 0.15em;
    opacity: 1.0;
}
#display {
    display: flex;
    flex-direction: column;
    background-image: url('/resources/images/background.png');
    opacity: 0.8;
}

#image-layer {
    background-color: rgba(0, 17, 17, 0.8);
}


#display label, #display h2{
    color: #ffffff;
    border-radius: 4px;
    padding: .5em;
    margin: .5em;

    font-size: 2em;
}

select, input{
    align-self: center;
}

p {
    color: #ffffff;
    text-align: center;

    font-size: 2em;
    opacity: 1.0;
}

#pu-wp-adjustment-display label, #pu-wp-adjustment-display section{
    border: solid 2px #99b9b9;
    background: linear-gradient(180deg, rgba(0,0,0,1) 1%, rgba(0,0,0,0.8) 40%, rgba(0,0,0,0.35) 88%);
}

#rc-adjustment-display label, #rc-adjustment-display h2{
    border: solid 2px #7e2814;
    background: linear-gradient(180deg, rgba(169,33,0,1) 0%, rgb(68, 14, 0, 1) 50%, rgba(169,33,0,1) 90%);
}

#value-display h2 {
    border: solid 2px #004992;
    background: linear-gradient(180deg, rgba(0,13,238,0.9) 0%, rgba(0, 0, 68, 0.9) 50%, rgba(0,13,238,0.9) 90%);
}

#pu-wp-adjustment-display, #rc-adjustment-display, #value-display {
    height: 100%;
    padding: 3em;
    margin: 1em;
    display: flex;
    overflow: hidden;
    justify-content: space-evenly;
}

#pu-wp-adjustment-display {
    flex-direction: column;
}

#rc-adjustment-display, #value-display {
    flex-direction: row;
}